@charset "utf-8";

*{margin:0;padding:0;font-family:"微软雅黑";}
a{text-transform:none;text-decoration: none;color: #706F6F;}
a:hover{text-decoration: none;color: #AA0025;}
body{background:#f5f5f5;}
.main{width:1200px;margin:0 auto;}
/* 当前位置 */
.main .position{font-size:13px;}
.main .position i{color: #ab0024;font-size:16px;}
.main .position .defalt{color:#48abff;}
.main .position .this:hover{text-decoration:underline;}

/* 导航 */
.main .headNav{margin:15px 0;position:relative;}
.main .headNav ul.top{overflow:hidden;}
.main .headNav ul.top li{font-size:14px;width:90px;list-style:none;float:left;padding:12px 1px;background:#fff;margin-right:10px;cursor:pointer;text-align: center;font-weight: 600;color: #5E5E5E;}
.main .headNav ul.top li.active{font-size:14px;background:#ab0024;color:#fff;}
.main .headNav ul.top li:hover{font-size:14px;background:#ab0024;color:#fff;}

	
.main .headNav ul.bottom{margin-top:15px;width:100%;overflow:hidden;background:#fff;-moz-box-shadow:0 0 1px 2px #eee;-webkit-box-shadow:0 0 1px 2px #eee;box-shadow:0 0 1px 2px #eee;}
.main .headNav ul.bottom li{font-size:14px;list-style:none;float:left;padding:10px 10px;background:#fff;cursor:pointer;color:#A8A4AB;}
.main .headNav ul.bottom li.active{font-size:14px;color:#AB0024;font-weight:600;}
.main .headNav ul.bottom li:hover{font-size:14px;color:#AB0024;font-weight:600;}
	
.main .headNav .sanjiao1{position:absolute;bottom:40px;left:0px;}
.main .headNav .sanjiao2{position:absolute;bottom:40px;left:100px;}
.main .headNav .sanjiao3{position:absolute;bottom:40px;left:204px;}
.main .headNav .sanjiao4{position:absolute;bottom:40px;left:306px;}
.main .headNav .sanjiao5{position:absolute;bottom:40px;left:408px;}
.main .headNav .sanjiao6{position:absolute;bottom:40px;left:510px;}
.main .headNav .sanjiao7{position:absolute;bottom:40px;left:612px;}
.main .headNav .sanjiao8{position:absolute;bottom:40px;left:714px;}
.main .headNav .sanjiao9{position:absolute;bottom:40px;left:816px;}
.main .headNav .sanjiao10{position:absolute;bottom:40px;left:918px;}

/* 提示语 */
.main .msg p{font-size:13px;color:#979797;margin-bottom:6px;padding-top: 6px;}
.main .msg p span{color:#000;font-weight: bold;}
.main .msg p .name{color:#AB0025;}
.main .msg p .state{color:#AB0025;}


/* table区域 */
.main .row{overflow:hidden;}
.main .content{width:80%;float:left;}
.main .content table{border-spacing:0;border-collapse:collapse;width:100%;table-layout:fixed;border:1px;}
.main .content table thead tr th {border-bottom: 2px solid #ddd;padding: 8px;line-height: 15px;border-top: 1px solid #ddd;color:#428bca;}
.main .content table thead tr .text-left{text-align:left;}
.main .content table tbody tr td{padding: 10px;line-height: 15px;border-top: 1px solid #ddd;background:#f9f9f9;vertical-align:bottom;text-align:center;}
.main .content table tbody tr:hover td{background:#eee;}

.main .content table td .second,.main .content table td .t_msg{float:left;color:#979797;line-height:25px;}
.main .content table td .second{line-height:25px; margin-right:10px;color:#fff;background:#b3b3b3;padding:0px 6px;border-radius:50%;}

.main .content table td .t_left,.main .content table td .t_right{color:#6e6e6e;cursor:pointer;line-height:25px;}
.main .content table td .t_left:hover,.main .content table td .t_right:hover{text-decoration: none;color:#48abff;line-height:25px;}
.main .content table td .t_center{line-height:25px;}
.main .content table td .t_right{margin-left:1px;line-height:25px;}

/* 日历 */
.main .date{width:16%;float:right;background:#fff;padding:10px;}
.main .date .d_head{font-size:13px;overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:10px;}
.main .date .d_head .d_left i{margin-right:3px;}
.main .date .d_head .d_left{float:left;}
.main .date .d_head .d_right{float:right;font-size:12px;}
.main .date .title{text-align:center;font-size:13px;margin:10px 0;}
.main .date table{border-spacing:0;border-collapse:collapse;width:100%;table-layout:fixed;border:1px;}
.main .date table{font-size:12px;}
.main .date table .date_td{width:20px;}
.main .date table td{text-align:center;height:25px;}
.main .date table td .active{background: #ab0024;color:#fff;border-radius:50%;width:20px;height:20px;}
.main .date table td.tfoot{color:#a79caf;font-size:12px;text-align:left;text-indent:1em;}


.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.main .content table td .bgab0024{background:#ab0024;color:#fff;}
.main .content table td .ab0024{color:#AB0024;}

.content{
    padding-bottom:50px;
}
.homehead{
	width:100%;
	background-color:#FFFFFF;
	overflow:hidden;
	}
/* .centered{
	width:80%;
	min-width:1000px;
	margin:0px auto;
	} */
.fl{
	float:left;
	}
	
/* 头部 */
.logo{
	background:url(http://192.168.200.83:8081/new/images/images-red/public-images/logo_02.png) no-repeat;
	width:324px;
	height:79px;
	float:left;
	}
.spacingline{
	float:left;
	background:url(http://192.168.200.83:8081/new/images/public-images/public-images/shu_03.png) no-repeat;
	width:1px;
	height:79px;
	}

.systemname{
	background:url(http://192.168.200.83:8081/new/images/images-red/public-images/ximc_04.png) no-repeat;
	width:175px;
	height:79px;
	float:left;
	}
.headrit{
	float:right;
	margin-top:15px;
	}
.headrit a{
	display:block;
	float:right;
	height:15px;
	padding-left:18px;
	line-height:15px;
	color:#aa0025;
	text-decoration:none;
	}
.esc{	
	background:url(../images/images-red/public-images/exit_06.png) no-repeat;		
	}
.esc:hover{
	background:url(../images/public-images/public-images/exitpre_06.png) no-repeat;
	color:#a36dba;
	cursor:pointer;
	}
.loginbtn{
	background:url(../images/images-red/public-images/denglu_06.png) no-repeat;
	margin-right:25px;
	}
.loginbtn:hover{
	background:url(../images/public-images/public-images/denglupre_06.png) no-repeat;
	color:#a36dba;
	cursor:pointer;
	}
.loggedin{
	background:url(../images/images-red/public-images/name_06.png) no-repeat;
	margin-right:25px;
	}
/* 头部 结束 */


.shadow{
	background:url(../images/public-images/public-images/bg_10.png) repeat-x;
	height:12px;
	width:100%;
	}
	
	
	
/* 校历 */
.ritpartbg{
	width:233px;
	background-color:#FFFFFF;
	padding-bottom:15px;
	}
.tit{
    width:203px;
    margin:0px auto;	
}
.calendaricon{
	background:url(../images/images-red/home-images/calendar_29.png) no-repeat;
	padding-left:20px;
	height:16px;
	line-height:16px;
	color:#aa0025;
	font-size:15px;
	margin-top:17px;
	float:left;
	}
.xtit_line{
    border-bottom:1px solid #e1e1e1;
    width:100%;
	padding-bottom:12px;
    overflow:hidden;
}
.littlefont{
	color:#7e7e7e;
	font-size:11px;
	margin-top:19px;
	float:right;
	}
.xltab1{
    width:203px;
	margin:0px auto;
	height:30px;
	margin-top:8px;
}
.tect{
    text-align:center
	}
.xltab2{
	width:203px;
	margin:0px auto;
	}
.xltab2 thead td{
	font-weight:bold;
	}
.xltab2 th{
    width:60px;
	height:26px;
	font-weight:normal;	
    text-align:left;
}
.xltab2 tbody td{
    width:23px;
	text-align:center;
}
.xltab2 tbody td:hover{
    background:url(../images/public-images/home-images/datepre_37.png) no-repeat center;
    color:#ffffff;
    cursor:pointer;
}
.xltab2 tfoot{
	height:26px;
	}
.today{
	background:url(../images/images-red/home-images/date_37.png) no-repeat center;
    color:#ffffff;
    cursor:pointer;
	}
.lightfont{
	color:#bcbcbc;
	}
.lightfont2{
	color:#aaaaaa;
	}
/* 校历 结束 */


.footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:#ffffff;
    height:90px;
    overflow:hidden;
}


.noticeTable {
	border-collapse:collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
	border:solid #999; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
	border-width:1px 1px 1px 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
} 
.noticeTableTd {border:solid #999;border-width:1px 1px 1px 1px;padding:2px;font-size: 14px;}


.unread{
    float: right;
    background: #ab0024;
    color:#fff;
    width: 1.5em;    
    border-radius: 50%;
    font-size: 0.75em;
    font-weight:bold;
    line-height: 1.5;
    height:50%;
    margin-top:3px;
    text-align: center;
    animation: notificationpulse 1s infinite;
    -webkit-animation: notificationpulse 1s infinite;
    -moz-animation: notificationpulse 1s infinite;
}
@keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #c0392b;
  }
  /*25% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }
  50% {
    box-shadow: 0 0 0 0.50em #c0392b;
  }
  75% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }*/
  100% {
    box-shadow: 0 0 0 0.15em #c0392b;
  }
}
@-webkit-keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #c0392b;
  }
  /*25% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }
  50% {
    box-shadow: 0 0 0 0.50em #c0392b;
  }
  75% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }*/
  100% {
    box-shadow: 0 0 0 0.15em #c0392b;
  }
}

@-moz-keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #c0392b;
  }
  /*25% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }
  50% {
    box-shadow: 0 0 0 0.50em #c0392b;
  }
  75% {
    box-shadow: 0 0 0 0.25em #c0392b;
  }*/
  100% {
    box-shadow: 0 0 0 0.15em #c0392b;
  }
}